body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(185, 185, 189);;
  }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
  }
  
  .header {
    background-color: #000000;
    width: 100%;
    height: 100px;
    border-bottom: rgb(0, 89, 255) 5px solid;  
  
  }
  
  .header span{
    color: rgb(0, 89, 255);
  }
  
  .nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav {
    float: right;
    text-transform: uppercase;
  }
  
  .nav .ativo{
    color: rgb(0, 89, 255);
  
  }
  
  .nav ul {
    margin: 0 auto;
    padding: 22px;
  }
  
  .titulo {
    float: left;
    color: white;
    margin: auto;
    padding: 12px;
  }
  
  .showcase{
    text-align: center;
    background-image: url(team.png);
    min-height: 400px;
    color: white;
  }
  
  .showcase h1{
    margin: 0;
    padding-top: 80px;
    font-size: 55px;
  }
  
  .showcase p {
    font-size: 20px;
  }
  
  /*Parte do css para pagina Sobre*/
  
  
  .assunto{
    text-align: center;
    margin-left: 300px;
    margin-top: 20px;
    height: 400px;
    width: 350px;
    color: white;
    background-color: #323232;
    border-bottom: orangered 5px solid;
    float: left;
    border-radius: 15px 15px 0px 0px;
  }
  .assunto p {
    text-align: left;
    padding: 15px;
  }
  
  .assunto2{
    text-align: center;
    margin-right: 300px;
    margin-top: 20px;
    height: 400px;
    width: 350px;
    color: white;
    background-color: #323232;
    border-bottom: orangered 5px solid;
    float: right;
    border-radius: 15px 15px 0px 0px;
  }
  
  .assunto2 p {
    text-align: left;
    padding: 15px;
  }
  
  .assunto2 img{
    height: 200px;
    float: left;
  }
  
  .rodape{
    text-align: center;
    color: white;
    background-color: #323232;
    float: left;
    margin-top: 50px;
    border-top: orangered 5px solid;
    width: 100%;
    height: 40px;
  }