body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
  }

  .header img{
    width: 120px;
    margin-left: 405px;
    margin-top: 3px;
  }
  
  .header { 
    width: 100%;
    height: 100px;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(219,15,15,1) 22%, rgba(255,76,0,1) 50%, rgba(255,38,0,1) 75%, rgba(255,0,0,1) 100%);
  }

  /* .header img {
    align-content: center;
    width: 120px;
     float: left; 
    margin-left: 639px;
    margin-top: 3px;
} */
  .nav {
    float: right;
    text-transform: uppercase;
  }
  
  .nav ul li {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }
  .nav ul :hover{
    color: black;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav .ativo{
    color: rgb(0, 89, 255);
  
  }
  
  .nav ul {
    margin: 18px auto;
    padding: 22px;
  }
  
  .titulo {
    float: left;
    color: white;
    margin: auto;
    padding: 12px;
  }

  .historia{
    background-color:rgb(189, 190, 192);
    width: 100%;
    height: 85vh;
  }
  
  .historia img{
    height: 400px;
    margin-left: 0px;
    margin-top: 62px;
    float: left;
  }

  .conteudo{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.93214);
    float: left;
    color: white;
    width: 600px;
    padding: 30px;
    margin-top:56px;
    margin-left: 50px;
    border-bottom: 10px rgb(191, 32, 47) solid;
  }

  .conteudo p{
    text-align: justify;
  }

  .showcase{
    text-align: center;
    background-image: url("../img/toyota-center-dentro-wallpaper2.jpg") ;
    min-height: 67vh;
    width: 100%;
    color: white;
  }
  .fundo-transparente{
    background-color: rgba(0,0,0,0.7);
    min-height: 67vh;

  }

  /* .gif_harden{
    float: left;
    margin: 0px;
  } */

 .img_harden{
    float: right;
    margin: 116px 0px 150px 15px;
    width: 150px;
  }

  .showcase h1{
    margin: 0;
    padding-top: 80px;
    font-size: 55px;
  }
  
  .showcase p {
    padding-top: 150px;
    font-size: 20px;
    margin: 0px;
    float: left;
    width: 700px;
  }
  
  .showcase span{
    color: rgba(255,0,0,1);
  }

  .novidades {
    width: 100%;
    height: 100px;
    background: rgb(38,38,38);
}
