body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    float: left;
    margin-left: 80px;
  }

  .pesquisa_loja{
    float: left;
    margin-top: 35px;
    height: 44px;
    width: 800px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 15px;
    transition: 0.5s;
  }

    .pesquisa_loja:hover{
      font-size: 20px;
    }

  .btn_pesquisa_loja{
    float: left;
    height: 46px;
    width: 50px;
    margin-top: 35px;
    border: none;
    border-radius: 0px 3px 3px 0px;
    background-color: grey;
    outline: none;
    transition: 0.5s;
  }

  .btn_pesquisa_loja:hover{
    background-color: #5a5a5a;
  }

  .btn_pesquisa_loja .fas{
    color: white;
    font-size: 20px;
    transition: 0.5s;
  }

  .btn_pesquisa_loja .fas:hover{
    color: black;
    font-size: 22px;
  }

  .header img{
    margin-top: 5px;
    width: 168px;
    float: left;
  }
  
  .header { 
    width: 100%;
    height: 100px;
    background: rgb(191, 32, 47);
    float: left;
  }
  .nav {
    float: right;
    text-transform: uppercase;
    margin-right: 50px;
    color: white;
    margin-top: 30px;
  }

  .nav .fas{
    font-size: 22px;
  }
  
  .nav ul li {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }
  .nav ul :hover{
    color: black;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav .ativo{
    color: rgb(0, 89, 255);
  
  }
  
  .nav ul {
    margin: 18px auto;
  }

  .header-nav-bar{
    float: left;
    width: 100%;
    height: 30px;
    background-color: #de1326;
  }
  .navegation-bar{
    float: left;
    margin-left: 25px;
    height: 100%;
    
  }
  .navegation-bar ul li{
    display: inline-block;
    transition: 0.3s;
  }
  .navegation-bar ul li:hover{
    background-color:grey ;
  }
  .navegation-bar ul{
    margin: 0;
    padding: 0;
  }

  .navegation-bar a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    display: block;
    padding: 5px;
  }

  .shop-cart{
    float: right;
    background-color: grey;
    color: white;
    margin-right: 25px;
    font-size: 13px;
    font-weight: bold;
  }

  .shop-cart span{
    margin: 0;
  }

  .shop-cart i{
    font-size: 15px;
    margin-right: 5px;
  }
  .title-car{
    font-size: 11px;
  }

  .center-itens{
    padding: 7px;
  }

footer{
  float: left;
  width: 100%;
  height: 200px;
  color: white;
}

footer img{
  width: 100px;
  height: 100px;
  float: left;
}

.conteudo_rodape{
  padding: 25px;
  text-shadow: rgb(0, 0, 0) 10px 0 10px;
  background-color: #bdbec0;
  text-align: center;
}

.conteudo_rodape  a{
  color: white;
  list-style: none;
  margin-left: 15px;
}

.body-shop{
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  width: 100%;
  height: auto;
}

.main p{
  margin-left: 10px;
  font-size: 10px;
}


.side_bar{
background-color: #d2d2d2;
width: 260px;
height: auto  ;
padding: 3px;
border-radius: 3px;
margin-left: 10px;
float: left;

}
.card_nav{
  background-color: white;
  border-radius: 3px;
  margin: 8px;
  padding: 10px;
  height: 190px;
  overflow: hidden;
  transition: 0.5s;
}

.card_nav p{
  font-size: 18px;
  margin: 10px 5px;
  border: 0;
  padding: 0;
}

.card_nav label{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card_nav input{
  height: 18px;
  width: 18px;
}

.card_nav span{
  float: right;
}

.main{
  float: left;
  width: 100%;
}

/* .main h1{
  float: right;
  text-align: left;
  margin-left: 40px;
  text-transform: capitalize;
} */

.result_search{
  float: right;
  margin-right: 25%;
}

.result_search h1{
  margin: 0;

}

.organizar_select{
  float: right;
}


.ordernar{
  float: right;
}

.div_ordenar{
  float: right;
}

.div_ordenar select{
  height: 39px;
  width: 180px;
  font-size: 13px;
  padding: 10px;
  outline: none;
  margin-right: 15px;
}